#merge-page
  color #555
  height 100%
  display flex
  flex-direction column

#content
  display flex
  flex-direction row
  flex 1

#workspace
  display flex
  flex-direction column
  flex 1

#pane-container
  display flex
  flex-direction row
  flex 1
