<div id="merge-page">
  <tophat></tophat>
  <div id="content">
    <sidebar></sidebar>
    <div id = "workspace">
      <take></take>
      <div id="pane-container">
        <pane></pane>
        <pane></pane>
        <pane></pane>
      </div>
      <shoes></shoes>
    </div>
  </div>
</div>
