<div id="take">
  <div id="take-left" class="taker">
    <span> take left </span>
  </div>
  <div class="taker"></div>
  <div id="take-right" class="taker">
    <span> take right </span>
  </div>
</div>
